imgur_id='your_imgur_client_id' # <- imgur key goes here
imgur_secret='your_imgur_client_secret' # <- imgur secret goes here
google_api_key='your_google_api_key' # <- google api key goes here
google_cseid='your_google_cseid' # <- google cseid goes here
DEBUG=True # <- controls debug console logging (default is False)
NOMEME=True # <- controls meme search during battle function
AUTH_TOKEN='your_hipchat_auth_token' # <- dankbot needs its own hipchat auth token for CaH DM's
REDIS_HOST='localhost' # <- change this if not using a local redis instance
REDIS_PORT=63790 # <- redis port number
REDIS_AUTH='your_redis_auth_string' # <- redis password goes here

echo 'dankBot environment variables loaded'
